@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
@import "tailwindcss";

@theme {
  --font-press-start: "Press Start 2P", system-ui;
  --font-vt323: "VT323", monospace;
  --color-neon-pink: oklch(60.751% 0.26219 341.555);
  --color-neon-purple: oklch(0.55 0.25 290);
  --color-neon-yellow: oklch(0.85 0.2 90);
  --color-neon-card: oklch(15% 0.03 245);
  --color-neon-blue: oklch(0.6 0.3 240);

  --shadow-neon-card: 8px 8px 0 oklch(0.55 0.25 290);
  --shadow-navbar: 0 4px 0 oklch(0.55 0.25 290);

  --text-shadow-title:
    3px 3px 0 oklch(0.55 0.35 340), 6px 6px 0 oklch(0.6 0.3 240);
  --text-shadow-icon: 2px 2px 0 oklch(0.55 0.35 340);
}

.scanlines::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size:
    100% 2px,
    2px 100%;
  pointer-events: none;
}

@keyframes arrow-wave {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-5px);
  }
  66% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-container-auto span {
  display: inline-block;
  animation: arrow-wave 1.25s ease-in-out infinite;
}

/* Card >>> animation */
.wave-container span {
  display: inline-block;
  transition: transform 0.2s;
}

.wave-container:hover span {
  animation: arrow-wave 1.25s ease-in-out infinite;
}

.wave-container span:nth-child(1),
.wave-container-auto span:nth-child(1) {
  animation-delay: 0s;
}
.wave-container span:nth-child(2),
.wave-container-auto span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave-container span:nth-child(3),
.wave-container-auto span:nth-child(3) {
  animation-delay: 0.4s;
}
