@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
@import "tailwindcss";

@theme {
  --font-press-start: "Press Start 2P", system-ui;
  --font-vt323: "VT323", monospace;
}
